<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>welcome to tangyu's website!</title>
<link rel="shortcut icon" type="image/png" href="/ty.png">
<link rel="stylesheet" type="text/css"
	href="/assets/third/js/easyUI/themes/default/easyui.css">
<link rel="stylesheet" type="text/css"
	href="/assets/third/js/easyUI/themes/icon.css">
<link rel="stylesheet" type="text/css"
	href="/assets/third/css/clock/clock.css">
<script type="text/javascript"
	src="/assets/third/js/jquery/jquery.min.js"></script>
<script type="text/javascript" src="/assets/third/js/clock/clock.js"></script>
<script type="text/javascript" src="/assets/ty/js/index.js"></script>
<script type="text/javascript"
	src="/assets/third/js/easyUI/jquery.easyui.min.js"></script>
<style type="text/css">

/* clock */
.clock {
	width: 100px;
	height: 30px;
	margin: 30px auto 0 auto;
	color: #d96457;
	font-family: "Lato", sans-serif;
}

.clock div {
	background: #ffe8e8;
	border-radius: 3px;
	width: 20px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	font-size: 15px;
	margin: 0px 2px;
}
</style>
</head>
<body>
	<div class="easyui-layout" fit="true">
		<div id="north" region="north" style="padding: 5px; height: 15%;">
			<div id="header" class="easyui-layout" fit="true">
				<div data-options="region:'east',border:false" style="width: 10%;">
					<div class='clock'>
						<div class='h shake shake-slow'></div>
						<div class='m shake shake-slow'></div>
						<div class='s shake shake-slow'></div>
					</div>
					您的IP：<label th:text="${ip}">暂时无法获取</label>
				</div>
				<div data-options="region:'center',border:false" style="width: 90%;">
					<h3 style="color: red" align="center">欢迎来到唐瑜的test站点！</h3>
				</div>
			</div>

		</div>
		<div region="west" split="true" title="导航栏" style="width: 20%;">
			<div id="aa" class="easyui-accordion" fit="true"
				style="width: 100%; height: 100%;">
				<div title="一级菜单1" data-options="iconCls:'icon-save'"
					style="overflow: auto; padding: 0px;">
					<a href="#">二级菜单1</a>
				</div>
				<div title="一级菜单2" data-options="iconCls:'icon-save'"
					style="overflow: auto; padding: 0px;">
					<a href="#">二级菜单2</a>
				</div>
				<div title="一级菜单3" data-options="iconCls:'icon-save'"
					style="overflow: auto; padding: 0px;">
					<a href="#">二级菜单3</a>
				</div>
			</div>
		</div>
		<div id="content" region="center" style="padding: 5px;">
			<img id="img" src="" title="单击刷新" onclick="refreashCode()" style="display: inline" /> <input
				type="hidden" id="code" name="code" value="" />
		</div>
		<div id="south" region="south" title=""
			style="padding: 5px; height: 5%;">
			<center>
				<p style="margin: 0;">版权所有 请联系QQ:740424625</p>
			</center>
		</div>
	</div>
	<a href="/users/new">注册</a>
</body>
</html>