<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>注册</title>
<link rel="stylesheet" type="text/css"
	href="/assets/third/easyUI/themes/default/easyui.css">
<link rel="stylesheet" type="text/css"
	href="/assets/third/easyUI/themes/icon.css">
<script type="text/javascript" src="/assets/third/jquery/jquery.min.js"></script>
<script type="text/javascript"
	src="/assets/third/easyUI/jquery.easyui.min.js"></script>
</head>
<body>
<h3 style="color:red">欢迎来到唐瑜的test站点！</h3>
<td th:text="${ip}">Red Chair</td>
</body>
</html>