<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tangyu.mapper.UserMapper">
	<resultMap id="BaseResultMap" type="com.tangyu.model.User">
		<id column="id" property="id" />
		<result column="name" property="name" />
		<result column="age" property="age" />
		<result column="gender" property="gender" />
		<result column="mobile" property="mobile" />
		<result column="birthday" property="birthday" />
		<result column="password" property="password" />
		<result column="local" property="local" />
		<result column="email" property="email" />
		<result column="status" property="status" />
		<result column="created_at" property="createdAt" />
		<result column="updated_at" property="updatedAt" />
		<result column="remark" property="remark" />
	</resultMap>

	<sql id="Base_Column_List">
		id, name, age,gender, mobile, birthday, password,
		local,email, status, created_at, updated_at,
		remark
	</sql>
	<!-- 新建客户 -->
	<insert id="addAccount" parameterType="com.tangyu.model.User"
		useGeneratedKeys="true" keyProperty="id">
		insert into user
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="name != null">
				name,
			</if>
			<if test="age != null">
				age,
			</if>
			<if test="gender != null">
				gender,
			</if>
			<if test="mobile != null">
				mobile,
			</if>
			<if test="birthday != null">
				birthday,
			</if>
			<if test="password != null">
				password,
			</if>
			<if test="local != null">
				local,
			</if>
			<if test="email != null">
				email,
			</if>

			<if test="status != null">
				status,
			</if>
			<if test="createdAt != null">
				created_at,
			</if>
			<if test="updatedAt != null">
				updated_at,
			</if>
			<if test="remark != null">
				remark,
			</if>
		</trim>
		<trim prefix="VALUES (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id},
			</if>
			<if test="name != null">
				#{name} ,
			</if>
			<if test="age != null">
				#{age},
			</if>
			<if test="gender != null">
				#{gender} ,
			</if>
			<if test="mobile != null">
				#{mobile},
			</if>
			<if test="birthday != null">
				#{birthday},
			</if>
			<if test="password != null">
				#{password} ,
			</if>
			<if test="local != null">
				#{local},
			</if>
			<if test="email != null">
				#{email} ,
			</if>
			<if test="status != null">
				#{status} ,
			</if>
			<if test="createdAt != null">
				#{created_at},
			</if>
			<if test="updatedAt != null">
				#{updated_at},
			</if>
			<if test="remark != null">
				#{remark},
			</if>
		</trim>
	</insert>

	<update id="updatet" parameterType="com.tangyu.model.User">
		UPDATE accounts
		<set>
			<if test="name != null">
				namename=#{name} ,
			</if>
			<if test="age != null">
				age=#{age},
			</if>
			<if test="gender != null">
				gender=#{gender} ,
			</if>
			<if test="mobile != null">
				mobile=#{mobile},
			</if>
			<if test="birthday != null">
				birthday=#{birthday},
			</if>
			<if test="password != null">
				password=#{password} ,
			</if>
			<if test="local != null">
				local=#{local},
			</if>
			<if test="email != null">
				email=#{email} ,
			</if>
			<if test="status != null">
				status=#{status} ,
			</if>
			<if test="remark != null">
				remark=#{remark},
			</if>
			updated_at = now()
		</set>
		WHERE id = #{id,jdbcType=BIGINT}
	</update>
	<select id="queryByMap" parameterType="java.util.Map" resultMap="BaseResultMap">
		SELECT
		<include refid="Base_Column_List" />
		FROM user
		where 1=1
		<if test="id!=null">
			and id=#{id}
		</if>
		<if test="name!=null">
			and name like '%${name}%'
		</if>
		<if test="email!=null">
			and email = #{email}
		</if>
		<if test="password!=null">
			and password = #{password}
		</if>
		<if test="mobile!=null">
			and mobile like '%${mobile}%'
		</if>
		<if test="statue!=null">
			and status=#{status}
		</if>
		<if test="gender!=null">
			and gender=#{gender}
		</if>
		order by id asc
	</select>
	<select id="queryByMapPage" parameterType="java.util.Map"
		resultMap="BaseResultMap">
		SELECT
		<include refid="Base_Column_List" />
		FROM user
		where 1=1
		<if test="id!=null">
			and id=#{id}
		</if>
		<if test="name!=null">
			and name like '%${name}%'
		</if>
		<if test="email!=null">
			and email = #{email}'
		</if>
		<if test="password!=null">
			and password = #{password}'
		</if>
		<if test="mobile!=null">
			and mobile like '%${mobile}%'
		</if>
		<if test="statue!=null">
			and status=#{status}
		</if>
		<if test="gender!=null">
			and gender=#{gender}
		</if>
		order by id asc limit #{pageSize} offset #{pageNum}
	</select>

	<select id="queryByMapCountPage" parameterType="java.util.Map"
		resultType="Integer">
		SELECT COUNT(a.id) FROM user
		<if test="id!=null">
			and id=#{id}
		</if>
		<if test="name!=null">
			and name like '%${name}%'
		</if>
		<if test="email!=null">
			and email = #{email}'
		</if>
		<if test="password!=null">
			and password = #{password}'
		</if>
		<if test="mobile!=null">
			and mobile like '%${mobile}%'
		</if>
		<if test="statue!=null">
			and status=#{status}
		</if>
		<if test="gender!=null">
			and gender=#{gender}
		</if>
	</select>

	<delete id="deleteByMap" parameterType="java.util.Map">
		delete from user where 1=1
		<if test="id!=null">
			and id=#{id}
		</if>
		<if test="statue!=null">
			and status=#{status}
		</if>
		<if test="gender!=null">
			and gender=#{gender}
		</if>
	</delete>
</mapper>