<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>登录</title>
<link rel="shortcut icon" type="image/png" href="/ty.png">
<link rel="stylesheet" type="text/css"
	href="/assets/third/js/easyUI/themes/default/easyui.css">
<link rel="stylesheet" type="text/css"
	href="/assets/third/js/easyUI/themes/icon.css">
<link rel="stylesheet" type="text/css"
	href="/assets/third/css/clock/clock.css">
<script type="text/javascript"
	src="/assets/third/js/jquery/jquery.min.js"></script>
<script type="text/javascript" src="/assets/ty/api/code.api.js"></script>
<script type="text/javascript" src="/assets/ty/js/login.js"></script>
<script type="text/javascript"
	src="/assets/third/js/easyUI/jquery.easyui.min.js"></script>
</head>
<body>
	<div class="easyui-layout" fit="true" 
		style="background: url('/assets/ty/images/login_background.jpg'); -moz-background-size: 100% 100%; background-size: 100% 100%;">
		<div id="loginWindow" class="easyui-window" title="请先登录"
			data-options="modal:true,iconCls:'icon-lock',collapsible:false,closable:false,minimizable:false,maximizable:false,draggable:false,resizable:false"
			style="width: 400px; padding: 20px 70px 20px 70px;">

			<div style="margin-bottom: 10px">
				<input class="easyui-textbox" id="logname"
					style="width: 100%; height: 30px; padding: 12px"
					data-options="prompt:'登录邮箱',iconCls:'icon-man',iconWidth:38">
			</div>
			<div style="margin-bottom: 20px">
				<input class="easyui-textbox" id="logpass" type="password"
					style="width: 100%; height: 30px; padding: 12px"
					data-options="prompt:'登录密码',iconCls:'icon-lock',iconWidth:38">
			</div>
			<div style="margin-bottom: 20px">
				<input class="easyui-textbox" type="text" id="logyzm"
					style="width: 50%; height: 30px; padding: 12px"
					data-options="prompt:'验证码'"> <img id="img" src=""
					title="单击刷新" onclick="refreashCode1()" style="display: inline;" />
			</div>
			<div>
				<a href="javascript:;" onclick="login()" class="easyui-linkbutton"
					data-options="iconCls:'icon-ok'"
					style="padding: 5px 0px; width: 100%;"> <span
					style="font-size: 14px;">登录</span>
				</a>
			</div>



		</div>

	</div>
</body>
</html>